@page
@model OOP_FINAL.Pages.SuaHoaDonBanModel
<form method="post">
    <label for="fname">Mã hóa đơn bán muốn sửa</label><br />
    <input type="text" name="mahd" value="0"><br />
    <label for="fname">Mã hàng</label><br />
    <input type="text" name="mahang" value="0"><br />
    <label for="fname">Số lượng</label><br />
    <input type="text" name="sl" value="0"><br />
    <label for="fname">Đơn giá</label><br />
    <input type="text" name="dongia" value="1"><br />
    <label for="fname">Khách hàng</label><br />
    <input type="text" name="kh" value="0"><br />
    <label for="fname">Ngày bán</label><br />
    <input type="text" name="date" value="0"><br />
    <input type="submit" value="Lưu" />
</form>
@Model.Chuoi
