@page
@model OOP_FINAL.Pages.SuaLoaiHangModel
<form method="post">
    <label for="fname">Mã loại cần sửa</label><br />
    <input type="text" name="maloai" value="0"><br />
    <label for="fname">Loại hàng</label><br />
    <input type="text" name="loaihang" value="0"><br />
    <input type="submit" value="Lưu" />
</form>

@Model.Chuoi
