@page
@model OOP_FINAL.Pages.ThongKeSoHangConLaiModel
<form method="post">
    <label for="fname">Thể loại mặt hàng muốn thống kê số hàng còn lại</label><br />
    <input type="text" name="maloai" value="0"><br />
    <input type="submit" value="Ok" />
</form>
@Model.Chuoi
