@page
@model OOP_FINAL.Pages.XoaHoaDonNhapModel
<form method="post">
    <label for="fname">Mã đơn nhập muốn xóa</label><br />
    <input type="text" name="madon" value="0"><br />
    <input type="submit" value="Lưu" />
</form>
@Model.Chuoi
