@page
@model OOP_FINAL.Pages.XoaLoaiHangModel
<form method="post">
    <label for="fname">Mã loại hàng muốn xóa</label><br />
    <input type="text" name="maloai" value="0"><br />
    <input type="submit" value="Lưu" />
</form>
@Model.Chuoi

