@page
@model OOP_FINAL.Pages.XoaMatHangModel
<form method="post">
    <label for="fname">Mã mặt hàng muốn xóa</label><br />
    <input type="text" name="mahang" value="0"><br />
    <input type="submit" value="Lưu" />
</form>
@Model.Chuoi
